doctype html
html(lang="en")

head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Document

body
	include ../components/header.pug

	h1 Hello world

	// comment

	img(src="./images/image.png" alt="")

	.swiper-container
		.swiper-wrapper
			.swiper-slide
				|123
			.swiper-slide
				|123423
			.swiper-slide
				|131432
			.swiper-slide
				|Лев привет

	form.form(action="")
		input(type="text" name="name")
		input(type="submit")